<% include partials/header %>

<h1>Add a CampGround</h1>

<form action="/campgrounds" method="POST">
  <input type="text" name="addCampground" placeholder="Add new campground">
  <input type="text" name="image" placeholder="image url here...">
  <button type="submit">Add</button>
</form>

<% include partials/footer %>