<% include partials/header %>

<h1>Select a Campground</h1>

<a href="/campgrounds/new">Add new Campground</a>

<% campGrounds.forEach(camp => { %>
  <div>
    <img src="<%= camp.imgScr %>">
    <%= camp.name %>
  </div>
<% }) %>

<% include partials/footer %>