<% include partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Showing details about <%= id %></h1>
      <p class="lead">
        <%= id %> is the most popular camping ground west of the niger...
      </p>
    </div>
  </header>
</div>

<% include partials/footer %>