<% include ../partials/header %>

<form class="form-signin" action="/campgrounds" method="POST" enctype="multipart/form-data">
  <div class="text-center mb-4">
    <img class="mb-2" src="/images/logo.png" alt="yeepkamp logo" width="100" height="100">
    <h1 class="h3 mb-3 font-weight-normal">Add a CampGround</h1>
    <a  class="btn btn-info" href="/campgrounds">See all Campgrounds</a>
  </div>

  <div class="form-label-group">
    <input class="form-control" type="text" name="campground[name]" placeholder="Add new campground">
    <label for="name">name</label>
  </div>  

  <div class="form-label-group">
    <input class="form-control" type="number" name="campground[price]" placeholder="Enter price" min="0.01" step="0.01"> 
    <label for="price">price</label>
  </div>

  <div class="form-label-group">
    <input class="form-control-file" type="file" name="image" accept="image/*" required>
    <label for="image">image</label>
  </div>

  <div class="form-label-group">
    <input class="form-control" type="text" name="campground[location]" id="location" placeholder="Yosemite National Park, CA" required>
    <label for="location">location</label>
  </div>

  <div class="form-group">
    <textarea class="form-control" name="campground[desc]"></textarea>
  </div>

  <button class="btn btn-lg btn-success btn-block" type="submit">Add Campground</button>
  <p class="mt-5 mb-3 text-muted text-center">YeepKamp&copy; 2018-2019</p>
</form>