.navbar {
  border-radius: 0;
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.comment {
  margin-bottom: 1em;
}

.reviews-header {
  color: #008080cc;
  font-weight: 600;
}

.meta-user, .meta-user a {
  color: #848282;
  font-size: small;
}

.meta-ratings {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: .5em;
}

.meta-profile {
  padding-top: .5em;
}

footer {
  height: 8rem;
  background: #101010;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.actions {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}

.actions.back {
  margin-top: 1em;
}

.price {
  color: #008080cc;
}

.inline-form {
  display: inline;
}

.flash {
  width: 60%;
  margin: 0 auto;
}