.navbar {
  border-radius: 0;
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.reviews-header {
  color: #008080cc;
  font-weight: 600;
  font-size: 1.5em;
}

.meta-user, .meta-user a {
  color: #848282;
  font-size: small;
}

.meta-profile {
  padding-top: .5em;
}

.meta-anchor {
  color: #14a4bc;
}

.spaced--top {
  padding-top: 1em;
}

.spaced--top .jumbotron-heading {
  color: #e3e3e3 !important;
}

.spaced--top .lead {
  color: #303030 !important;
}

.jumbotron {
  margin-top: 1.5em; /*This line goes off once we fix the on scrolll effect for the navbar */
  background: url('../images/bg.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 0 !important;
}

footer {
  height: 8rem;
  background: #101010;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.actions {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}

.actions.back {
  margin-top: 1em;
}

.price {
  font-size: small;
  color: #7a8f8fcc;
}

.inline-form {
  display: inline;
}

.flash {
  width: 60%;
  margin: 0 auto;
  position: absolute;
  top: 5vh;
  left: 20vw;
  z-index: 100;
}

.logo {
  height: 2.5rem;
  width: 2.5rem;
}

.logo img {
  width: 100%;
  height: 100%;
}

.form-signin {
  padding-top: 1em !important;
}

.cta-foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.px-3.cta-foot a, 
.px-3.cta-foot a:visited {
  color: #333;
  font-size: 1.65em;
}

.px-3.cta-foot a:hover {
  color: #17a2b8;
}

.edit {
  font-size: 1em;
}